body{
    color: darkgoldenrod;
    background-color: black;
}
section{
    background-image: url("fundo estrela.png");
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}

header {
    font-size: 45px;
    text-align: center;
}

.chamada_texto{
    margin-right: 5%;
    
}

img{
    width: 200px;
    height: 266px;
}

.chamada_video{
    display: flex;
    overflow-x: auto;
    gap: 20px;
    justify-content: center;
    padding-bottom: 3%;
}

h2 {
    text-align: center;
}