body{
    color: darkgoldenrod;
    background-color: black;
}
section{
    background-image: url("fundo estrela.webp");
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 50px;
}